@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@Html.ActionLink("admin",)*@


<html>
<head>
    <style>
        h1 {
            style ="color:blue;";
            text-align: center;
        }



        div {
            text-align: center;
        }
    </style>
</head>

<body style="background-color:powderblue;">



    <h2>
        Welcome to our delivery booking service
    </h2>

    <div class="row">
    </div>
    <div class="col-md-4"> </div>
    

    <div class="col-md-4">
        <h1>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXUlEQVRIS82Wf1EDMRCFvyoABxQFIKEooBLAAVXQVkHrACSAApAACgAH1AHzOslNepO7za+Za/7pdC7ZL7t5b5MZE43ZRFxSwJfAPTCv2OQP8Ab8+RgWWNB34LYC6pd+AnceboGfgF0DqA/xCLzojwXeAGsD/OWyUHVujLlbQDGrwStgH8CsCjUBSyzLSIavToyx5JuAuyA9wtjxnBc43KkX3dju5cnr0JuABPbtfpNLnQtWYDUGCeoAXDihjTWaaKlLwLkWbwqu9nFOxr+uEcg6Xf91ZyuLydsqfX9UZawMFz1gHyCRfUQ6WTFYmerCCLMcOmfBdTFcBROKwV2TT1TVA/DcAizrKIvUoeqEvbw441Tg0LxksHXb5G4keh/H7DSkzlyg5p+4IXwIxMBaILi8WfvmOvF8CrgkO3PNWYBbCcl6xx2rEU5qJaRscCshHV+R1kjanRWk5Ptk4H80lmAfDSCBeQAAAABJRU5ErkJggg==" /> @Html.ActionLink("Admin", "Login", "Login")
        </h1>
        <hr />
        <h1>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXUlEQVRIS82Wf1EDMRCFvyoABxQFIKEooBLAAVXQVkHrACSAApAACgAH1AHzOslNepO7za+Za/7pdC7ZL7t5b5MZE43ZRFxSwJfAPTCv2OQP8Ab8+RgWWNB34LYC6pd+AnceboGfgF0DqA/xCLzojwXeAGsD/OWyUHVujLlbQDGrwStgH8CsCjUBSyzLSIavToyx5JuAuyA9wtjxnBc43KkX3dju5cnr0JuABPbtfpNLnQtWYDUGCeoAXDihjTWaaKlLwLkWbwqu9nFOxr+uEcg6Xf91ZyuLydsqfX9UZawMFz1gHyCRfUQ6WTFYmerCCLMcOmfBdTFcBROKwV2TT1TVA/DcAizrKIvUoeqEvbw441Tg0LxksHXb5G4keh/H7DSkzlyg5p+4IXwIxMBaILi8WfvmOvF8CrgkO3PNWYBbCcl6xx2rEU5qJaRscCshHV+R1kjanRWk5Ptk4H80lmAfDSCBeQAAAABJRU5ErkJggg==" />@Html.ActionLink("Customer", "customerlogin", "Login")
        </h1>
        <hr />
        <h1>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXUlEQVRIS82Wf1EDMRCFvyoABxQFIKEooBLAAVXQVkHrACSAApAACgAH1AHzOslNepO7za+Za/7pdC7ZL7t5b5MZE43ZRFxSwJfAPTCv2OQP8Ab8+RgWWNB34LYC6pd+AnceboGfgF0DqA/xCLzojwXeAGsD/OWyUHVujLlbQDGrwStgH8CsCjUBSyzLSIavToyx5JuAuyA9wtjxnBc43KkX3dju5cnr0JuABPbtfpNLnQtWYDUGCeoAXDihjTWaaKlLwLkWbwqu9nFOxr+uEcg6Xf91ZyuLydsqfX9UZawMFz1gHyCRfUQ6WTFYmerCCLMcOmfBdTFcBROKwV2TT1TVA/DcAizrKIvUoeqEvbw441Tg0LxksHXb5G4keh/H7DSkzlyg5p+4IXwIxMBaILi8WfvmOvF8CrgkO3PNWYBbCcl6xx2rEU5qJaRscCshHV+R1kjanRWk5Ptk4H80lmAfDSCBeQAAAABJRU5ErkJggg==" />@Html.ActionLink("Executive", "executivelogin", "Login")
        </h1>
        <hr />
    </div>
    <div class="col-md-4"> </div>
    
</body>
</html>