@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<partial name="_Adminloginpartial" />
<body style="background-color:powderblue;">
    <div class="row">
        <div class="col-md-2">

        </div> <h1 text-align: center ;style="background-color:powderblue;">Hello Admin</h1>
        <div class="col-md-2">

            @*<p style="background-color:tomato;">This is a paragraph.</p>*@

            <h4>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABW0lEQVRIS+2W0U0DQQxEXzqgg0AFQAVABUAFpASoAKgASoAKgAqgA+iA0AEdJJroFq2Ws9e3RFw+Yul0imJ7PLOzTiaMFJORcNkC/5vyGyv1DnABHHdSvAGPwPdfpfEYHwBPwG4BMgdOAL2bwwMWuyOjs74TeAoNNw1M8ZUGtoDF9r3S6BD46HJugOsA8C2gXPMen3Uye73EWMwVawOWmV4rDHJgSV16oa9cvlh5wztjJVjnprOKAJmze8Ae65xtaq6rt19RqWquVC+T6fzye6zPyVQ5TuR4quYKGPRXytqA5exTY4E8Ay8FtKSWQl645pJptLFqTST3eesGK82lqT8BvSOhnb1X7G5JvjCKTXN5a9IapFyfFqjqe80licW2JcQ6/WgMBr4E7lpQgSvgvqtNVy+8uaL7tq/hj4TRwXNzzQA9LfEA6AnHxv71CTMYmrhlPFSx5vzRpF4C8clBH5skJsQAAAAASUVORK5CYII=" />   <button> @Html.ActionLink("view Customer", "viewcustomer" , "Admins" )</button>

            </h4>
            <h4>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXElEQVRIS82W0VHDQAxEXzogFQAVEDqACqAEqCBQQaAC6ABaoAIogQ6gA0gHzM7YmeQ4W6tgxtaPP+6ip13LUmaMFLORuOwLvgROmqLfgZesgCz4DHgCjgrQJ3ANvLkFZMCCvgaJz124Cz4APgA9+0LKT4HvSLkLvmosjvLpXJY/Rxdd8B2wipI15/eA7veGC34EllGy/wDfAA8m+BZQoYMo1uej5opiDSwANdkgYCVxVFtqlcx9x231fU1mNVWbKAvW72S71MtShUam3mlo77b3+4Cj12edTx4sWy8ae7vGpsZku6n0/FNXC6jvVwsiE9pS6vDOAvqs1nwWNFoMXQXJAcGrc7sL7KxA14HqqqyB3RXogqX8uFyVNXBmE7nwX8OlBtYgOHQzmveUU6o3UYJl85eZLHttvm13CR6yqcrCdppsMmBZ3Q7/rJXRfQ2TzZ/Ayc/qSE36fDTFP8Y1Nx8gsGNRAAAAAElFTkSuQmCC" /> <button> @Html.ActionLink("View Executive", "ViewExecutive", "Admins")</button>
            </h4>
            <h4>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXElEQVRIS82W0VHDQAxEXzogFQAVEDqACqAEqCBQQaAC6ABaoAIogQ6gA0gHzM7YmeQ4W6tgxtaPP+6ip13LUmaMFLORuOwLvgROmqLfgZesgCz4DHgCjgrQJ3ANvLkFZMCCvgaJz124Cz4APgA9+0LKT4HvSLkLvmosjvLpXJY/Rxdd8B2wipI15/eA7veGC34EllGy/wDfAA8m+BZQoYMo1uej5opiDSwANdkgYCVxVFtqlcx9x231fU1mNVWbKAvW72S71MtShUam3mlo77b3+4Cj12edTx4sWy8ae7vGpsZku6n0/FNXC6jvVwsiE9pS6vDOAvqs1nwWNFoMXQXJAcGrc7sL7KxA14HqqqyB3RXogqX8uFyVNXBmE7nwX8OlBtYgOHQzmveUU6o3UYJl85eZLHttvm13CR6yqcrCdppsMmBZ3Q7/rJXRfQ2TzZ/Ayc/qSE36fDTFP8Y1Nx8gsGNRAAAAAElFTkSuQmCC" /> <button>@Html.ActionLink("View Customer Requests", "Viewcustomerrequest", "Admins")</button>
</h4>
            <h4>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXElEQVRIS82W0VHDQAxEXzogFQAVEDqACqAEqCBQQaAC6ABaoAIogQ6gA0gHzM7YmeQ4W6tgxtaPP+6ip13LUmaMFLORuOwLvgROmqLfgZesgCz4DHgCjgrQJ3ANvLkFZMCCvgaJz124Cz4APgA9+0LKT4HvSLkLvmosjvLpXJY/Rxdd8B2wipI15/eA7veGC34EllGy/wDfAA8m+BZQoYMo1uej5opiDSwANdkgYCVxVFtqlcx9x231fU1mNVWbKAvW72S71MtShUam3mlo77b3+4Cj12edTx4sWy8ae7vGpsZku6n0/FNXC6jvVwsiE9pS6vDOAvqs1nwWNFoMXQXJAcGrc7sL7KxA14HqqqyB3RXogqX8uFyVNXBmE7nwX8OlBtYgOHQzmveUU6o3UYJl85eZLHttvm13CR6yqcrCdppsMmBZ3Q7/rJXRfQ2TzZ/Ayc/qSE36fDTFP8Y1Nx8gsGNRAAAAAElFTkSuQmCC" /> <button>@Html.ActionLink("View Executive Response", "ViewExecutiveResponse", "Admins")</button>
</h4>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</body>
